@page "/product/{id:int}"

<h3>Product Detail</h3>

@inject IViewProduct viewProduct



<div class="card" style="width: 28rem;">
    <div class="card-body">
        <img src="@product.ImageLink" />
        <h5 class="card-title">  @product.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@product.Brand</h6>
        <p>  Price: <label style="color:darkred">  @product.Price.ToString("c")</label></p>
        <p class="card-text"> @product.Description</p>

        <hr />



    </div>
</div>
<NavLink href="products">Back to products</NavLink>

@code {

    private Product product;

    [Parameter]
    public int Id { get; set; }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if(Id>0)
        {
           product= viewProduct.Execute(Id);
        }


    }
}
